/** Centering **/
@mixin centeringVertical($height) {
    height: $height;
    line-height: $height;
}

@mixin centeringHorizontal($width) {
    display: inline-block;
    text-align: center;
}


/** Text layout **/

@mixin textRight() {
    text-align: right;
}

@mixin textLeft() {
    text-align: left;
}

@mixin textCenter() {
    text-align: center;
}
