//** Sizes **//
@mixin equilateral($size, $with-centering: false) {
    width: $size;
    height: $size;
    @if $with-centering {
      line-height: $size;
    }
}

@mixin size($width, $height, $with-centering: false ) {
  width: $width;
  height: $height
  @if $with-centering {
    line-height: $height;
  }
}
