//** Sizes **//
@mixin equilateral($size, $with-centering: false) {
    width: $size;
    height: $size;
    @if $with-centering {
        line-height: $size;
    }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height
}
